@import "../../vars.css";

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 49px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
}

.title {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 33px;
    width: 20;
    font-family: var(--font-robot);
    animation: typing 2.5s steps(20), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;

}

@keyframes typing {
    from {
      width: 0
    }
    to {
        width: 75%;
    }
  }
      
@keyframes blink {
    50% {
      border-color: transparent
    }
  }



/* Add a class to trigger the backspace animation when needed */

.description {
    font-size: 25px;
    font-family: var(--font-robot);
    margin-bottom: 52px;
    letter-spacing: 1.75px;
    color: aliceblue;
    line-height: 40px;
}

.personImage {
    width: 35%;
    z-index: 1;
    margin-bottom: 20px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);

    }
    50% {
        transform: translate(0,10px);
    }
    100% {
        transform: translate(0, -0px);
    }
}

.topBlur{
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-height: 350px;
    top: -128px;
    left: -10vw;
    border-radius: 764px;
    background: rgba(47,33,59,0.8);
    filter: blur(100px);
    z-index: 0;
}

.botBlur {
    position: absolute;
    width: 70vw;
    height: 50vh;
    min-width: 350px;
    min-height: 250px;
    top: 246px;
    right: -25vw;
    border-radius: 764px;
    background: rgba(47,33,59,0.8);
    filter: blur(100px);
    z-index: 0;
}

@media screen and (max-width: 830px) {
    .container {
        flex-direction: column-reverse;
    }

    .content {
        align-items: center;
    }
}