@import "../../vars.css";

.container {
    
    position: relative;
    background-color: rgba(12,12,12,0.6);
    border-radius: 15px;
    padding: 73px;
    margin-top: 129px;
    margin-left: 10%;
    margin-right: 10%;
    z-index: 1;
}

.title {
    color: var(--color-text);
    font-size: 35px ;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.aboutImg {
    width: 45%;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.aboutItems{
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.aboutItem {
    list-style: none;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    align-items: center;
    padding: 25px;
    background-image: linear-gradient(90deg, rgba(165,215,232,0.42)0%, rgba(255,255,255,0)100%);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: .2s;
}

.aboutItem:hover {
    background-size: 100% 100%;
}

.aboutItem h3 {
    font-size: 28px;
    font-weight: 600;
}

.aboutItem p {
    font-size: 23px;
    color: aliceblue;
    margin-top: 10px;
}
@keyframes floating {
    0% {
        transform: translate(0, 0px);

    }
    50% {
        transform: translate(0,30px);
    }
    100% {
        transform: translate(0, -0px);
    }
}

@media screen and (max-width:830px) {
    .container {
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;
    }

    .content{
        flex-direction: column;
    }

    .aboutImage {
        display: none;
    }

    .aboutItems {
        margin-top: 29px;
    }

    .aboutItem {
        padding-left: 0;
        padding-right: 0;
    }
}