@import "../../vars.css";

.container {
    margin-top: 76px;
    color: var(--color-text);
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    overflow: hidden;
    z-index: 1;
    max-width: 100%;
    position: relative;
}

.title {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    z-index: 1;
}

.content {
    margin-top: 37px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
    z-index: 1;
    overflow-y: hidden;
}



