@import "../../vars.css";

.Cardcontainer {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(180deg, #313D5A 0%, #73628A 100%);
    box-shadow: 0 16px 14px 0 #3b3f43;
    padding: 18px 24px;
    max-width: 360px;
    max-height: 750px;
    z-index: 1;
    overflow-y: hidden;
}

.projectImg {
    margin-bottom: 26px;
    opacity: 75%;
}

.projTitle {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.description {
    margin-top: 6px;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
    color: aliceblue;
}

.skillz {
    width: 100%;
    margin-top: 14px;
    display: grid;
    gap: 6px;
    list-style: none;

}

.skill {
    font-size: 25px;
    font-weight: 400;
    border-radius: 100px;
    background: var(--color-dark);
    padding: 2px 22px;
    text-align: center;
}

.links {
    width: 100%;
    margin-top: 26px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
}

.link {
    text-decoration: none;
    color: var(--color-text);
    font-size: 30px;
    font-weight: 600;
    border-radius: 100px;
    background: var(--color-primary);
    padding: 1px 22px;
}
